ul {
  display: flex;
  margin: 0px 10px;
}

li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
  padding: 10px 13px;
}

.active {
  background-color: #84ffff;
}
